In [ ]:
import pandas as pd

brecha_salarial = pd.read_csv(r'C:\Users\Thiare\OneDrive\Escritorio\PROYECTO 3-4\becha_salarial.csv', sep = ',')
ingresos_medios = pd.read_csv(r'C:\Users\Thiare\OneDrive\Escritorio\PROYECTO 3-4\Ingreso_medio.csv', sep = ';')
postulantes = pd.read_csv(r'C:\Users\Thiare\OneDrive\Escritorio\PROYECTO 3-4\Postulantes.csv', sep = ';')

In [ ]:
brecha_salarial.head()

,Region,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Arica y Parinacota,-32.6,-37.6,-42.3,-19.7,-26.7,-26.8,-26.7,-33.5,-28.0,-25.5,-11.4,-29.6,-24.5
1,Tarapacá,-39.1,-28.8,-32.8,-31.2,-35.9,-32.0,-31.1,-30.5,-25.4,-20.6,-30.7,-30.8,-34.5
2,Antofagasta,-44.3,-40.5,-41.8,-45.6,-41.8,-42.0,-38.6,-45.6,-40.0,-42.4,-40.7,-31.2,-40.4
3,Atacama,-39.3,-32.9,-37.0,-35.3,-28.0,-37.8,-39.0,-33.7,-37.7,-39.7,-29.3,-26.8,-34.4
4,Coquimbo,-33.6,-34.4,-35.7,-37.9,-33.6,-34.6,-28.4,-34.8,-32.1,-28.2,-10.5,-29.6,-32.6

In [ ]:
ingresos_medios.head()

,Año,Region,Ingreso mediano mensual Total ($),Ingreso mediano mensual Hombres ($),Ingreso mediano mensual Mujeres ($),Brecha de género\r\n (%)
0,2010,Arica y Parinacota,200.196,250.245,160.157,"-36,0"
1,2011,Arica y Parinacota,213.025,261.600,160.260,"-38,7"
2,2012,Arica y Parinacota,243.397,301.353,181.012,"-39,9"
3,2013,Arica y Parinacota,260.234,300.407,199.245,"-33,7"
4,2014,Arica y Parinacota,299.944,321.316,224.958,"-30,0"

In [ ]:
postulantes.head()

,Año postulación,Estamento,Número total de postulantes,Número total de postulantes de mujeres,Número total de postulantes de hombres.,Distribución porcentual de postulantes de mujeres(%),Distribución porcentual de postulantes de hombres (%),Brecha de género \r\n(pp.)
0,2018,Directiva,7.181,2.808,4.373,"39,1","60,9","-21,8"
1,2018,Profesionales,75.313,40.697,34.616,"54,0","46,0","8,1"
2,2018,Profesional Ley N°15.076/19.664,0.000,0.000,0.000,"0,0","0,0","0,0"
3,2018,Fiscalizadores,6.658,2.706,3.952,"40,6","59,4","-18,7"
4,2018,Técnicos,17.948,10.244,7.704,"57,1","42,9","14,2"

In [ ]:
# Pivotar `brecha_salarial` para que los años sean filas
brecha_salarial_long = brecha_salarial.melt(
    id_vars=["Region"],  # Columna que no cambia
    var_name="Año",  # Nombre de la columna que contendrá los años
    value_name="Brecha Salarial (%)"  # Nombre de la columna con los valores
)

# Convertir la columna `Año` a entero
brecha_salarial_long["Año"] = brecha_salarial_long["Año"].astype(int)

In [ ]:
brecha_salarial_long

                 Region   Año  Brecha Salarial (%)
0    Arica y Parinacota  2010                -32.6
1              Tarapacá  2010                -39.1
2           Antofagasta  2010                -44.3
3               Atacama  2010                -39.3
4              Coquimbo  2010                -33.6
..                  ...   ...                  ...
203        La Araucanía  2022                -19.5
204            Los Ríos  2022                -26.2
205           Los Lagos  2022                -27.9
206               Aysén  2022                -29.1
207          Magallanes  2022                -21.6

[208 rows x 3 columns]

In [ ]:
# Verificar tipo de datos
ingresos_medios["Año"] = ingresos_medios["Año"].astype(int)
postulantes["Año"] = postulantes["Año postulación"].astype(int)  # Renombrar para consistencia

In [ ]:
# Unir brecha salarial con ingresos medios
dataset_parcial = pd.merge(
    brecha_salarial_long,
    ingresos_medios,
    on=["Año", "Region"],  # Coincidencia por Año y Región
    how="inner"  # Mantener solo años y regiones comunes
)

In [ ]:
# Unir el resultado anterior con el dataset de postulantes
dataset_final = pd.merge(
    dataset_parcial,
    postulantes,
    on="Año",
    how="inner"  # Coincidencia solo para años comunes
)

In [ ]:
# Inspeccionar datos faltantes
print(dataset_final.isnull().sum())

# Opcional: Llenar datos faltantes con un valor o eliminar filas incompletas
dataset_final.fillna(0, inplace=True)  # Ejemplo: reemplazar nulos con 0

Region                                                    0
Año                                                       0
Brecha Salarial (%)                                       0
Ingreso mediano mensual Total ($)                         0
Ingreso mediano mensual Hombres ($)                       0
Ingreso mediano mensual Mujeres ($)                       0
Brecha de género\r\n (%)                                  0
Año postulación                                           0
Estamento                                                 0
Número total de postulantes                               0
Número total de postulantes de mujeres                    0
Número total de postulantes de hombres.                   0
Distribución porcentual de postulantes de mujeres(%)      0
Distribución porcentual de postulantes de hombres  (%)    0
Brecha de género \r\n(pp.)                                0
dtype: int64

In [ ]:
dataset_final

,Region,Año,Brecha Salarial (%),Ingreso mediano mensual Total ($),Ingreso mediano mensual Hombres ($),Ingreso mediano mensual Mujeres ($),Brecha de género\r\n (%),Año postulación,Estamento,Número total de postulantes,Número total de postulantes de mujeres,Número total de postulantes de hombres.,Distribución porcentual de postulantes de mujeres(%),Distribución porcentual de postulantes de hombres (%),Brecha de género \r\n(pp.)
0,Arica y Parinacota,2018,-28.0,350.000,400.000,299.802,"-25,0",2018,Directiva,7.181,2.808,4.373,"39,1","60,9","-21,8"
1,Arica y Parinacota,2018,-28.0,350.000,400.000,299.802,"-25,0",2018,Profesionales,75.313,40.697,34.616,"54,0","46,0","8,1"
2,Arica y Parinacota,2018,-28.0,350.000,400.000,299.802,"-25,0",2018,Profesional Ley N°15.076/19.664,0.000,0.000,0.000,"0,0","0,0","0,0"
3,Arica y Parinacota,2018,-28.0,350.000,400.000,299.802,"-25,0",2018,Fiscalizadores,6.658,2.706,3.952,"40,6","59,4","-18,7"
4,Arica y Parinacota,2018,-28.0,350.000,400.000,299.802,"-25,0",2018,Técnicos,17.948,10.244,7.704,"57,1","42,9","14,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,Magallanes,2022,-21.6,603.124,713.448,502.604,"-29,6",2022,Fiscalizadores,9.011,4.020,4.991,"44,6","55,4","-10,8"
636,Magallanes,2022,-21.6,603.124,713.448,502.604,"-29,6",2022,Técnicos,36.270,22.469,13.801,"61,9","38,1","23,9"
637,Magallanes,2022,-21.6,603.124,713.448,502.604,"-29,6",2022,Administrativos,39.392,24.194,15.198,"61,4","38,6","22,8"
638,Magallanes,2022,-21.6,603.124,713.448,502.604,"-29,6",2022,Auxiliares,12.867,5.285,7.582,"41,1","58,9","-17,9"
639,Magallanes,2022,-21.6,603.124,713.448,502.604,"-29,6",2022,Otros,0.000,0.000,0.000,"0,0","0,0","0,0"

In [ ]:
# Guardar como archivo CSV
dataset_final.to_csv("dataset_final.csv", index=False)